html{
	font-family: 'Roboto', 'Shrikhand', Arial, Helvetica, sans-serif;
}

body{
	margin: 0;
	font-family: 'Roboto';
	text-align: center;
	width: 100%;
}

img{
    width: 100%;
}
                          /* LOADER */
body{
    animation: appear ease-in;
    animation-duration: 3s;
    animation-delay: 5s;    
}

.loader{    
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9356dc;
    border-right: 16px solid #99E2D0;
    border-bottom: 16px solid #FF79DA;
    border-left: 16px solid #99E2D0;
    position: absolute;
    width: 120px;
    height: 120px;
    display: flex;
    margin-left: 40%;
    -webkit-animation: appear 1s, spin 4s linear;   
    animation: appear 1s, spin 4s, fade-out 3s;  
    
    transition-duration: 20s ease-out;   
}

@keyframes appear{
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes fade-out{
    100% { opacity: 1;}
    0% { opacity: 0;}
}
 
@keyframes spin{
    0% { transform: rotate(0deg) scale(0); }
    50% { transform: rotate(0deg) scale(0.5)}
    100% { transform: rotate(360deg) scale(1); }
}


                   /*HEADER*/
header{
	background: white;	
}

form{
	background: rgb(223, 221, 221);	
    box-shadow: inset 0px 4px 5px -1px rgb(0 0 0 / 60%);
}

form .fa-location-dot{
	font-size: 25px;
    margin-left: 58px;
    line-height: 3;
    margin-top: 0;
}

form input[type="search"]{
    background: none;
    border: none;
    font-size: 18px;
    padding-left: 10px;
    font-weight: bolder;
}
                    /* HERO */

#hero{
	background: rgb(243, 239, 240);
    width: 100%;	
}	

h1{
	font-size: 1.5em;
	padding-top: 53px;
    margin:0;
}

#hero p{
	font-size: 19px;
    text-align: center;
    opacity: 0.4;
    padding-left: 0;
}

button{
	padding: 20px;
    color: white;
    background: linear-gradient(#ff79da, #9356dc);
    border-radius: 46px;
    margin-top: 63px;
    margin-bottom: 59px;
    height: 62px;
    width: 250px;
    font-size: 18px;
    border: none;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
}

                  /* FONCTIONNEMENT */

#Fonctionnement{
	display: flex;
    flex-direction: column;
    align-items: start;
	margin-bottom: 40px;
}	

#Fonctionnement h2, #restaurants h2{
	font-size: 1.7em;
	padding-top: 40px;
	padding-left: 4.5%;
}

#Fonctionnement_nav{
    width: 100%;
}

.Fonctionnement_nav_btn{
	background: #f8f4f4;
    width: 88%;
    height: 80px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 31px;
    border-radius: 18px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
}

.fa-mobile-screen, .fa-list, .fa-store{
	font-weight: 900;
    font-size: 22px;
    margin-left: 30px;
	color: gray;
}

.Fonctionnement_nav_btn h3{
	margin-left: 17px;
    color: black;
}

.Fonctionnement_nav_btn span{
	background: #9356dc;
    border-radius: 20px;
    width: 28px;
    height: 29px;
    color: white;
    line-height: 1.8;
    margin-left: -15px;
}

.Fonctionnement_nav_btn:hover {
	background-color: #e4d9e1;         
}

.Fonctionnement_nav_btn:hover .fa-solid{
	color:#9356dc;        
}

                  /* RESTAURANTS */  

#restaurants{
	display: flex;
	flex-direction: column;
    align-items: start;
	background: rgb(238, 235, 235);
}

.restaurants_cities{
	width: 100%;
	margin-bottom: 30px;
}

.restaurants_cities_card{
    margin: 0 auto;
    width: 92%;
    position: relative;
    height: 110px;
    background: white;
    border-radius: 20px;
    padding-bottom: 154px;
    margin-top: 36px;
    margin-bottom: 61px;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
}

.restaurants_cities_card img{
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    object-position: 0 65%;
}

.restaurants_cities_card a{
    text-decoration: none;
    color: inherit;
}

.restaurants_cities_card h3{
    font-size: 1.3em;
    margin-top: 13px;
}

.restaurants_cities_card p{
	font-size: 1.1em;
    color: gray;
    padding-top: 23px;
}

.restaurants_cities_card h3, p{
    text-align: left;
	padding-left: 20px;
	margin-bottom: -30px;
}

.restaurants_cities_card span{
    position: absolute;
    background: #99e2d0;
    padding: 8px;
    font-size: 19px;
    width: 105px;
    top: -18px;
    right: 11px;
    color: #1b5d4c;
}


               

                 /* MEDIA QUERIES */

                   /* Tablette */
                 
@media (min-width: 769px) and (max-width: 992px){
    .restaurants_cities{
        display: flex;
        flex-wrap: wrap;
    }  
    .restaurants_cities_card{
        flex: 0 0 45%;
        height: 112px;
        margin-bottom: 41px;
    }  
    #restaurants h2{
        padding-top: 9px;
        margin-bottom: 58px;
    }      
}
                /* deskktop */

@media (min-width: 993px){
    #Fonctionnement{
        display: inline;        
    }    
    #Fonctionnement h2{ 
        margin-left: -55px;
    }
   
    #restaurants{               
        display: inline-block;        
        width: 95%;
        height: 500px;
        margin-bottom: 20px;
    }
    .restaurants_cities{
        display: flex;
    }
    .restaurants_cities_card{
        width: 24%;
        margin: 0 10px;
        height: 160px;
    }
    .restaurants_cities_card img{
        height: 242px;
        padding-bottom: 5px;
    }
    
    #restaurants h2{    
        padding-left: 0;
        margin-bottom: 52px;
    }
    #restaurants h3{
        font-size: 19px;
    }   

    .coeur__1, .coeur__2{
        top: 230px;
        right: 10px;
    }
}

