                   /*HEADER*/
header{
    display: flex;
    height: 137px;
    flex-direction: column;
    background: white;    
}

.fa-arrow-left{
    font-weight: 900;
    color: black;
    font-size: 25px;
    position: absolute;
    left: 24px;
    top: 36px;
}                   

                      /*MAIN*/

main{
    background: rgb(238, 235, 235);
    flex-direction: column;
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: -863px; 
}
  
.title{
    margin-top: 992px;
    font-family: Shrikhand;
    font-size: 0.9em;
    margin-left: 22px;
    padding-top: 39px;
    text-align: left;
    margin-bottom: -36px;
}

.fa-heart{
    font-size: 2em;
    position: absolute;
    right: 34px;
    top: 52px;
}

main h2{
	font-size: 20px;
    font-weight: normal;
    text-align: left;
    padding-top: 48px;
    margin-bottom: 41px;
	border-bottom: #99e2d0 solid 3px;
    width: 50px;
}

main h3{
    font-weight: bolder;
    text-align: left;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 21px;
    margin-bottom: 0;
}

main p{
    text-align: left;
    opacity: .7;
    padding-left: 10px;
    margin-top: 0;
    padding-top: 9px;
}
                    /* MENU */

.entrees, .plats, .desserts{
    margin: 0 auto;
    width: 92%;
    margin-bottom: 40px;
}	

.entree_item, .plat_item, .dessert_item{
    background: white;
    border-radius: 19px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 40%);
    height: 80px;
    position: relative;
    
}

.entrees span, .plats span, .desserts span{
    position: absolute;
    top: 48px;
    right: 35px;
}

.fa-circle-check:hover{
    opacity: 1;
    transition-duration: 1s;
    transform: translateX(-50%); 
    transform-origin: right;    
}


.fa-circle-check{
    font-size: 25px;
    position: absolute;
    right: -36px;
    top: 0;
    background: #99E2D0;
    width: 70px;
    height: 81px;
    line-height: 3.2;
    color: white;
    border-radius: 0 20px 17px 0;
    opacity: 0;
    
}

.email{
	margin-left: 33px;
}

@keyframes appear{
    0%{
        transform: translateY(50%);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
    }

}