                   /* HEADER */
header{
    display: flex;
    height: 137px;
    flex-direction: column;
    background: white;    
}

.fa-arrow-left{
    font-weight: 900;
    color: black;
    font-size: 25px;
    position: absolute;
    left: 24px;
    top: 36px;
}                   

                      /* MAIN */

main{
    background: rgb(238, 235, 235);
    flex-direction: column;
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: -863px; 
}

.title{
    margin-top: 992px;
    font-family: Shrikhand;
    font-size: 0.9em;
    margin-left: 22px;
    padding-top: 39px;
    text-align: left;
    margin-bottom: -36px;
}

.fa-heart{
    font-size: 2em;
    position: absolute;
    right: 34px;
    top: 52px;
}

main h2{
	font-size: 20px;
    font-weight: normal;
    text-align: left;
    padding-top: 48px;
    margin-bottom: 41px;
	width: 50px;
}

main h3{    
    text-align: left;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 21px;
    margin-bottom: 0;
}

main p{
    text-align: left;
    opacity: .7;
    padding-left: 10px;
    margin-top: 0;
    padding-top: 9px;
}
                    /* MENU */

.entrees, .plats, .desserts{
    margin: 0 auto;
    width: 92%;
    margin-bottom: 40px;
}	

.plat_item, .dessert_item{
    background: white;
    border-radius: 19px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 40%);
    height: 80px;
    position: relative;    
}

               /* Animation bouton vert */

@keyframes SlideUp {  
    0% {
      transform: translateY(150px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .main {
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 4em;
    background-color: #f6f6f6;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
  .entree_item *{ 
    margin: 0;
    padding: 0;
  }
  
  .entree_item{
    animation: SlideUp 0.5s ease-in;
    animation-fill-mode: backwards;    
    display: flex;
    overflow: hidden;       
    justify-content: space-between;
    width: 100%;
    background-color: white;
    margin-bottom: 1em;
    border-radius: 1em;  
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.1);
  }
  
  .delay-1{
    animation-delay: 0s;
  }  
  .delay-2{
    animation-delay: 0.2s;
  }  
  .delay-3{
    animation-delay: 0.4s;
  }  
  .delay-4{
    animation-delay: 0.6s;
  }  
  .delay-5{
    animation-delay: 0.8s;
  }  
  .delay-6{
    animation-delay: 1.0s;
  }  
  
  .entree_text{  
    display: flex;      
    flex-direction: column;      
    flex: 1;
    padding: 0.6em;
    overflow: hidden;
    padding-bottom: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .entree_text h3, p{
    margin-bottom: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .entree_item span {
    font-weight: bold;   
    display: flex;      
    align-items: flex-end;
    padding: 1.3em;
  }
  
  .btn{
    background-color: #99e2d0;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;  
    display: flex;  
    justify-content: center;  
    align-items: center;
    overflow: hidden;
    width: 0;  
    transition-duration: 0.6s;
  }
  
  .fa-circle-check{
    color: #99e2d0;  
    transform: rotate(360deg);  
    transition-duration: 0.5s;
    font-size: 25px;
  }
  
 .entrees .entree_item:hover .btn {
    width: 4em;
  }
  
 .entrees .entree_item:hover .fa-circle-check{  
    transform: rotate(0);
    color: white;
  }
  
  .entrees h2  {   
    padding-top: 25px;
    position: relative;   
  }
  
  .entrees h2::after {
    content: "";
    position: absolute;
    top: 56px;
    left: 0px;
    height: 4px;
    width: 37px;
    background-color: #99e2d0; 
  }

                    /* Animation bouton vert */

                         /* KEYFRAMES */           

@keyframes turn{         /* Animation sur les entrées */
    0% {transform: rotate(0);}
    100% {transform: rotate(1turn);
    }
}

.entrees{
    animation: appear;
    animation-duration: 1s;    
}

.entree_item{
    animation-name: turn;   
    animation-duration: 2s;
}
@keyframes turn{
    0% {transform: rotate(0);}
    100% {transform: rotate(1turn);}
}

@keyframes appear{
    0% {transform: translateY(800px);}
    100% {transform: translateY(0);}
}

.plats{
    animation: appear;
    animation-duration: 2s;
}
.desserts{
    animation: appear;
    animation-duration: 3s;
}

@keyframes appear{
    0% {transform: translateY(800px);}
    100% {transform: translateY(0);}
}
              /* KEYFRAMES */

#title_footer{
    padding: 0;
}
  